<% if (successMessage) { %>
  <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999;">
    <div id="formSuccessToast" class="toast align-items-center text-white bg-success border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= successMessage %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% } %>
<% if (failMessage) { %>
  <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999;">
    <div id="formFailToast" class="toast align-items-center text-white bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= failMessage %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% } %>


<div class="container my-4 w-75">
  <h2 class="text-center">Admin Dashboard</h2>
  <ul class="list-group">

    <li class="list-group-item">
      <a href="/admin/dashboard/users" class="btn btn-outline-secondary w-100">User List</a>
    </li>
    <li class="list-group-item">
      <a href="/admin/dashboard/roles" class="btn btn-outline-primary w-100">Role management</a>
    </li>
        <li class="list-group-item">
      <a href="/admin/dashboard/permissions" class="btn btn-outline-dark w-100">Permissions management</a>
    </li>

  </ul>
</div>
